
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: whitesmoke;
}

main {
    flex: 1;
}

/* メインコンテンツエリア */
.main-content-area {
    width: 100%;
    margin-top: 75px;

    .contact-headline {
        margin: 40px auto 20px;
        width: 50%;
        max-width: 800px;

        /* レスポンシブ for タブレット */
        @media screen and (max-width: 960px) {
            width: 75%;
        }

        /* レスポンシブ for スマホ */
        @media screen and (max-width: 520px) {
            width: 100%;
            text-align: center;
        }

        h2 {
            margin-top: 50px;
            display: inline-block;
            font-size: 20px;

            /* レスポンシブ for タブレット */
            @media screen and (max-width: 960px) {
                font-size: 20px;
            }

            /* レスポンシブ for スマホ */
            @media screen and (max-width: 520px) {
                font-size: 15px;
            }

        }

    }

    .contact-form {
        margin: 0 auto;
        padding: 40px;
        width: 50%;
        max-width: 800px;
        background-color: white;
        box-sizing: border-box;

        /* レスポンシブ for タブレット */
        @media screen and (max-width: 960px) {
            width: 75%;
            font-size: 15px;
        }

        /* レスポンシブ for スマホ */
        @media screen and (max-width: 520px) {
            width: 95%;
            font-size: 15px;
        }

        .user-name, .e-mail, .subject, .details {
            display: flex;

            /* レスポンシブ for スマホ */
            @media screen and (max-width: 520px) {
                flex-direction: column;
            }


            .label {
                width: 30%;
                /* レスポンシブ for スマホ */
                @media screen and (max-width: 520px) {
                    width: 100%;
                }
            }
            .contents {
                width: 70%;
                /* レスポンシブ for スマホ */
                @media screen and (max-width: 520px) {
                    width: 100%;
                    margin-top: 10px;
                }

            }


        }

        .submit {
            width: 100%;
            text-align: center;

            button {
                display: inline-block;
                margin-top: 40px;
                padding: 10px 30px;
                background-color: dodgerblue;
                color: white;
                border-radius: 10px;
                border: none;
                &:hover {
                    opacity: 0.8;
                }
            }

        }


    }
}
