@charset "UTF-8";
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* メインコンテンツエリア */
.main-content-area {
  width: 100%;
  margin-top: 75px;
  padding: 10vh 0;
  min-height: 60vh;
}

/* 進捗バーエリア */
.progressbar-area {
  position: relative;
  width: 100%;
  /* 進捗バーのサークルエリア */
  /* 進捗バーの水平線エリア */
}
.progressbar-area .circle-item-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  /* 進捗バーのサークル */
  /* 進捗バーのサークル(現在のステップ時適用) */
}
.progressbar-area .circle-item-area .circle-item {
  display: block;
  width: 6%;
  color: darkgray;
  background-color: #cccccc;
  border-radius: 50%;
}
.progressbar-area .circle-item-area .circle-item div {
  position: relative;
  padding-top: 100%;
  height: 0;
}
.progressbar-area .circle-item-area .circle-item div p {
  position: absolute;
  top: calc((100% - 1em)/2);
  right: 0;
  left: 0;
  margin: 0;
  text-align: center;
}
.progressbar-area .circle-item-area .circle-item.selected {
  background-color: deepskyblue;
  color: white;
}
.progressbar-area .hr-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 進捗バーの水平線 */
  /* 左側の水平線 */
  /* 右側の水平線 */
}
.progressbar-area .hr-area hr {
  display: block;
  width: calc(75%/2);
  margin: 0;
  height: 3px;
  background-color: #cccccc;
  z-index: -1;
  position: absolute;
  top: 50%;
}
.progressbar-area .hr-area hr:nth-child(1) {
  background-color: deepskyblue;
  left: calc(25%/2);
}
.progressbar-area .hr-area hr:nth-child(2) {
  background-color: deepskyblue;
  left: 50%;
}

/* 各ステップ説明文エリア */
.step-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 80px;
  padding: 0 calc(25%/4);
  /* レスポンシブ for スマホ */
  /* ステップ説明文 */
}
@media screen and (max-width: 520px) {
  .step-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 0 40px;
    padding: 0 calc(25%/4);
  }
}
.step-description li {
  display: inline-block;
  color: darkgray;
  font-size: 2vw;
}
.step-description li.selected {
  color: midnightblue;
}

/* 検索フォームエリア */
.search-form-area {
  width: 80%;
  margin: 0 auto;
  /* 変更点 */
  /* ここまで */
}
.search-form-area div {
  margin: 0 auto;
  width: 500px;
  font-size: 1.2vw;
  text-align: center;
  margin-bottom: 10px;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .search-form-area div {
    width: 80%;
  }
}
.search-form-area form {
  margin: 0 auto 40px;
  text-align: center;
  position: relative;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .search-form-area form {
    margin: 0 auto 20px;
  }
}
.search-form-area form input.keyword-search {
  width: 500px;
  height: 40px;
  border-radius: 30px;
  border: 0.5px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .search-form-area form input.keyword-search {
    width: 80%;
    height: 30px;
  }
}
.search-form-area form button {
  display: inline-block;
  background-color: dodgerblue;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 0 30px 30px 0;
  border: none;
  position: absolute;
  left: calc((80vw - 500px)/2 + 420px);
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .search-form-area form button {
    width: 40px;
    height: 30px;
    left: calc((80vw - 64vw)/2 + (64vw - 40px));
  }
}

/* 人気トピック見出し */
.popular-topic-headline {
  margin: 0 auto 25px;
  font-size: 25px;
  text-align: center;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .popular-topic-headline {
    margin: 0 auto 12.5px;
    font-size: 20px;
  }
}
.popular-topic-headline i {
  padding-left: 5px;
  color: darkorange;
}

/* 人気トピックエリア */
.popular-topics-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto 80px;
  /* レスポンシブ for タブレット and スマホ */
}
@media screen and (max-width: 960px) {
  .popular-topics-area {
    margin: 0 auto 40px;
    width: 100%;
  }
}
.popular-topics-area form {
  display: inline-block;
}
.popular-topics-area form .popular-topic {
  padding: 5px 10px;
  margin: 5px 3px;
  /* background: linear-gradient(to right, #348ac7, #7474bf); */
  background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00c6ff));
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: white;
  border-radius: 20px;
  border: none;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .popular-topics-area form .popular-topic {
    font-size: 10px;
    padding: 2.5px 5px;
    margin: 2.5px 1.5px;
  }
}
.popular-topics-area form .popular-topic i {
  margin-left: 10px;
  margin-right: 5px;
}

/* 関連候補者ランキング見出し・関連発言ランキング見出し */
.rel-candidate-ranking-headline, .rel-sentence-ranking-headline {
  margin: 0 auto 25px;
  font-size: 25px;
  text-align: center;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-headline, .rel-sentence-ranking-headline {
    margin: 0 auto 12.5px;
    font-size: 20px;
  }
}
.rel-candidate-ranking-headline i, .rel-sentence-ranking-headline i {
  padding-left: 5px;
  color: gold;
}

/* 関連候補者ランキングエリア・関連発言ランキングエリア */
.rel-candidate-ranking-area, .rel-sentence-ranking-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto 80px;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area, .rel-sentence-ranking-area {
    width: 100%;
    margin: 0 auto 40px;
  }
}
.rel-candidate-ranking-area .rel-candidate, .rel-candidate-ranking-area .rel-sentence, .rel-sentence-ranking-area .rel-candidate, .rel-sentence-ranking-area .rel-sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  padding: 10px 10px;
  width: 100%;
  min-height: 100px;
  /* 変更点 */
  height: auto;
  /* 変更点 */
  color: midnightblue;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate, .rel-candidate-ranking-area .rel-sentence, .rel-sentence-ranking-area .rel-candidate, .rel-sentence-ranking-area .rel-sentence {
    margin: 5px auto;
    padding: 5px 5px;
    width: 100%;
    min-height: 80px;
    /* 変更点 */
    height: auto;
    /* 変更点 */
  }
}
.rel-candidate-ranking-area .rel-candidate .rank, .rel-candidate-ranking-area .rel-sentence .rank, .rel-sentence-ranking-area .rel-candidate .rank, .rel-sentence-ranking-area .rel-sentence .rank {
  width: 10%;
  height: 78px;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate .rank, .rel-candidate-ranking-area .rel-sentence .rank, .rel-sentence-ranking-area .rel-candidate .rank, .rel-sentence-ranking-area .rel-sentence .rank {
    height: 68px;
  }
}
.rel-candidate-ranking-area .rel-candidate .rank span, .rel-candidate-ranking-area .rel-sentence .rank span, .rel-sentence-ranking-area .rel-candidate .rank span, .rel-sentence-ranking-area .rel-sentence .rank span {
  position: absolute;
  top: calc(39px - 0.85vw);
  right: 0;
  left: 0;
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate .rank span, .rel-candidate-ranking-area .rel-sentence .rank span, .rel-sentence-ranking-area .rel-candidate .rank span, .rel-sentence-ranking-area .rel-sentence .rank span {
    top: calc(34px - 0.85vw);
  }
}
.rel-candidate-ranking-area .rel-candidate .person, .rel-candidate-ranking-area .rel-sentence .person, .rel-sentence-ranking-area .rel-candidate .person, .rel-sentence-ranking-area .rel-sentence .person {
  width: 30%;
  position: relative;
}
.rel-candidate-ranking-area .rel-candidate .person .political-party, .rel-candidate-ranking-area .rel-sentence .person .political-party, .rel-sentence-ranking-area .rel-candidate .person .political-party, .rel-sentence-ranking-area .rel-sentence .person .political-party {
  width: 100%;
  font-size: 1.2vw;
  /* レスポンシブ for タブレット */
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 960px) {
  .rel-candidate-ranking-area .rel-candidate .person .political-party, .rel-candidate-ranking-area .rel-sentence .person .political-party, .rel-sentence-ranking-area .rel-candidate .person .political-party, .rel-sentence-ranking-area .rel-sentence .person .political-party {
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate .person .political-party, .rel-candidate-ranking-area .rel-sentence .person .political-party, .rel-sentence-ranking-area .rel-candidate .person .political-party, .rel-sentence-ranking-area .rel-sentence .person .political-party {
    font-size: 3vw;
  }
}
.rel-candidate-ranking-area .rel-candidate .person .candidate-name, .rel-candidate-ranking-area .rel-sentence .person .candidate-name, .rel-sentence-ranking-area .rel-candidate .person .candidate-name, .rel-sentence-ranking-area .rel-sentence .person .candidate-name {
  display: block;
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  position: absolute;
  top: calc(39px - 0.75vw);
  /* レスポンシブ for タブレット */
  /* レスポンシブ for スマホ */
}
@media screen and (max-width: 960px) {
  .rel-candidate-ranking-area .rel-candidate .person .candidate-name, .rel-candidate-ranking-area .rel-sentence .person .candidate-name, .rel-sentence-ranking-area .rel-candidate .person .candidate-name, .rel-sentence-ranking-area .rel-sentence .person .candidate-name {
    font-size: 2.5vw;
    top: calc(34px - 1.25vw);
  }
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate .person .candidate-name, .rel-candidate-ranking-area .rel-sentence .person .candidate-name, .rel-sentence-ranking-area .rel-candidate .person .candidate-name, .rel-sentence-ranking-area .rel-sentence .person .candidate-name {
    font-size: 4vw;
    top: calc(34px - 2vw);
  }
}
.rel-candidate-ranking-area .rel-candidate .sentences, .rel-candidate-ranking-area .rel-sentence .sentences, .rel-sentence-ranking-area .rel-candidate .sentences, .rel-sentence-ranking-area .rel-sentence .sentences {
  width: 55%;
  margin-left: 5%;
  font-size: 1.3vw;
}
.rel-candidate-ranking-area .rel-candidate .sentences i, .rel-candidate-ranking-area .rel-sentence .sentences i, .rel-sentence-ranking-area .rel-candidate .sentences i, .rel-sentence-ranking-area .rel-sentence .sentences i {
  margin-left: 3px;
}
.rel-candidate-ranking-area .rel-candidate .sentence, .rel-candidate-ranking-area .rel-sentence .sentence, .rel-sentence-ranking-area .rel-candidate .sentence, .rel-sentence-ranking-area .rel-sentence .sentence {
  width: 55%;
  margin-left: 5%;
  font-size: 1.3vw;
  position: relative;
}
.rel-candidate-ranking-area .rel-candidate .sentence i, .rel-candidate-ranking-area .rel-sentence .sentence i, .rel-sentence-ranking-area .rel-candidate .sentence i, .rel-sentence-ranking-area .rel-sentence .sentence i {
  margin-left: 3px;
}
.rel-candidate-ranking-area .rel-candidate .sentence a, .rel-candidate-ranking-area .rel-sentence .sentence a, .rel-sentence-ranking-area .rel-candidate .sentence a, .rel-sentence-ranking-area .rel-sentence .sentence a {
  font-size: 1.3vw;
  position: absolute;
  top: calc(39px - 0.65vw);
  /* レスポンシブ for スマホ　*/
}
@media screen and (max-width: 520px) {
  .rel-candidate-ranking-area .rel-candidate .sentence a, .rel-candidate-ranking-area .rel-sentence .sentence a, .rel-sentence-ranking-area .rel-candidate .sentence a, .rel-sentence-ranking-area .rel-sentence .sentence a {
    top: calc(34px - 0.65vw);
  }
}