{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- 各種メタ情報 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="サイト要約文をここに記述する。検索結果画面においてこの文が表示される">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- ページタイトル -->
        <title>候補者一覧</title>
        <!-- ファビコン -->
        <link rel="icon" href="{% static 'vote/image/hand-peace-o.ico' %}">
        <!-- CSSファイル読み込み -->
        <link rel="stylesheet" href="{% static 'vote/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/common.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/candidate_list.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:vote_new' %}"><img class="fas fa-hand-peace" src="{% static 'vote/image/hand-peace-o.png' %}"><span>Vote</span></a>
                </div>
            </div>
        </header>

        <!-- メインコンテンツ -->
        <main>
            <div class="main-content-area">
                <!-- 進捗バーエリア -->
                <div class="progressbar-area">
                    <!-- 進捗バーのサークルエリア-->
                    <ul class="circle-item-area">
                        <li class="circle-item selected"><div><p>1</p></div></li>
                        <li class="circle-item selected"><div><p>2</p></div></li>
                        <li class="circle-item selected"><div><p>3</p></div></li>
                    </ul>
                    <!-- 進捗バーの水平線エリア-->
                    <div class="hr-area">
                        <hr>
                        <hr>
                    </div>
                </div>
                <!-- 各ステップ説明文エリア -->
                <ul class="step-description">
                    <li class="step1-description selected">都道府県を選択</li>
                    <li class="step2-description selected">選挙区を選択</li>
                    <li class="step3-description selected">候補者を選択</li>
                </ul>

                検索フォームエリア
                <div class="search-form-area">
                    <form method="get" action="{% url 'vote:index' %}">
                        <input class="keyword-search" type="text" name="keyword" size="25" placeholder="キーワード検索">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- 人気トピック見出し -->
                <h3 class="popular-topic-headline">人気トピック<i class="fas fa-chart-line"></i></h3>

                <!-- 人気トピックエリア -->
                <div class="popular-topics-area">

                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="学費">学費<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="年金">年金<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="子育て">子育て<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="デジタルトランスフォーメーション">デジタルトランスフォーメーション<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="5G・IoT">5G・IoT<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="SDGs">SDGs<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="税金">税金<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="農業・産業">農業・産業<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="外国人労働者">外国人労働者<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="ベーシックインカム">ベーシックインカム<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="コロナ感染対策">コロナ感染対策<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="外交・安全保障">外交・安全保障<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="エネルギー政策">エネルギー政策<i class="fas fa-arrow-right"></i></button>
                    </form>
                    <form method="get" action="{% url 'vote:index' %}">
                        <input type="hidden" name="prefecture" value="{{prefecture}}">
                        <input type="hidden" name="electoral_district" value="{{constituency}}">
                        <button class="popular-topic" type="submit" name="topic" value="社会保障">社会保障<i class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
                
                <!-- 候補者見出し -->
                <h3 class="candidate-headline">候補者一覧<i class="fas fa-poll"></i></h3>
                <!-- 候補者エリア -->
                <div class="candidate-area">
                    {% for candidate in candidate_list %}
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">{{candidate.party}}</p>
                        <h3 class="candidate-name">{{candidate.name}}</h3>
                    </a>
                    <!-- <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">政権交代によるコロナ対策強化新党</p>
                        <h3 class="candidate-name">橋本浩二</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">自民党</p>
                        <h3 class="candidate-name">あいうえおかきくけこ</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a>
                    <a class="candidate" href="{% url 'vote:index' %}">
                        <p class="political-party">xxxx党</p>
                        <h3 class="candidate-name">********</h3>
                    </a> -->
                    {% endfor %}
                </div>


            </div>
        </main>

        <!-- フッター -->
        <footer>
            <div class="footer-content-area">
                <a href="{% url 'vote:vote_new' %}"><i class="fas fa-hand-peace"></i>vote</a>
                <a href="{% url 'vote:index' %}">お問い合わせ</a>
                <a href="{% url 'vote:index' %}">Twitter</a>
            </div>

        </footer>

    <!-- JavaScriptファイル読み込み -->
    <script src="{% static 'vote/js/animation.js' %}"></script>
    </body>
</html>