<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- 各種メタ情報 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="サイト要約文をここに記述する。検索結果画面においてこの文が表示される">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- ページタイトル -->
        <title>お問い合わせ内容確認</title>
        <!-- ファビコン -->
        <link rel="icon" href="hand-peace-o.ico">
        <!-- CSSファイル読み込み -->
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="contact_confirm.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:vote_new' %}"><img class="fas fa-hand-peace" src="hand-peace-o.png"><span>Vote</span></a>
                </div>
            </div>
        </header>

        <!-- メインコンテンツ -->
        <main>
            <div class="main-content-area">
                <div class="contact-headline">
                    <h2>以下の内容で送信してもよろしいでしょうか？</h2>
                </div>
                <div class="contact-form">
                    <form method="POST" action="{% url 'vote:' %}">
                        <div class="user-name">
                            <div class="label">
                                お名前
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{}}</span>
                                <input type="hidden" name="username" value="{{}}">
                            </div>
                        </div>
                        <hr>
                        <div class="e-mail">
                            <div class="label">
                                メールアドレス
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{}}</span>
                                <input type="hidden" name="email" value="{{}}">
                            </div>
                        </div>
                        <hr>
                        <div class="subject">
                            <div class="label">
                                件名
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{}}</span>
                                <input type="hidden" name="subject" value="{{}}">
                            </div>
                        </div>
                        <hr>
                        <div class="details">
                            <div class="label">
                                内容
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <p>{{}}</p>
                                <input type="hidden" name="details" value="{{}}">
                            </div>
                        </div>
                        <div class="submit">
                            <button type="submit">送信する</button>
                        </div>
                    </form>

                </div>
            </div>

        </main>

        <!-- フッター -->
        <footer>
            <div class="footer-content-area">
                <a href="{% url 'vote:vote_new' %}"><i class="fas fa-hand-peace"></i>vote</a>
                <a href="{% url 'vote:' %}">お問い合わせ</a>
                <a href="{% url 'vote:' %}">Twitter</a>
            </div>

        </footer>

    <!-- JavaScriptファイル読み込み -->
    <script src="animation.js"></script>
    </body>
</html>
