{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- 各種メタ情報 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Voteとは選挙会場にいるあなたの手助けをするアプリです。あなたの投票をよりスムーズに、より効率的に行えるようにサポートします">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- ページタイトル -->
        <title>お問い合わせ内容確認</title>
        <!-- ファビコン -->
        <link rel="icon" href="{% static 'vote/image/hand-peace-o.ico' %}">
        <!-- CSSファイル読み込み -->
        <link rel="stylesheet" href="{% static 'vote/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/common.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/contact_form.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:index' %}"><img class="fas fa-hand-peace" src="{% static 'vote/image/hand-peace-o.png' %}"><span>Vote</span></a>
                </div>
            </div>
        </header>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:vote_new' %}"><img class="fas fa-hand-peace" src="{% static 'vote/image/hand-peace-o.png' %}"><span>Vote</span></a>
                </div>
            </div>
        </header>

        <!-- メインコンテンツ -->
        <main>
            <div class="main-content-area">
                <div class="contact-headline">
                    <h2>以下の内容で送信してもよろしいでしょうか？</h2>
                </div>
                <div class="contact-form">
                    <form method="POST" action="{% url 'vote:complete' %}">{% csrf_token %}
                        <div class="user-name">
                            <div class="label">
                                お名前
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{username}}</span>
                                <input type="hidden" name="username" value="{{username}}">
                            </div>
                        </div>
                        <hr>
                        <div class="e-mail">
                            <div class="label">
                                メールアドレス
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{email}}</span>
                                <input type="hidden" name="email" value="{{email}}">
                            </div>
                        </div>
                        <hr>
                        <div class="subject">
                            <div class="label">
                                件名
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <span>{{subject}}</span>
                                <input type="hidden" name="subject" value="{{subject}}">
                            </div>
                        </div>
                        <hr>
                        <div class="details">
                            <div class="label">
                                内容
                                <span style="color:red;">*</span>
                            </div>
                            <div class="contents">
                                <p>{{details}}</p>
                                <input type="hidden" name="details" value="{{details}}">
                            </div>
                        </div>
                        <div class="submit">
                            <button type="submit">送信する</button>
                        </div>
                    </form>

                </div>
            </div>

        </main>

        <!-- フッター -->
        <footer>
            <div class="footer-content-area">
                <div class="footer-menu">
                    <a href="{% url 'vote:index' %}"><i class="fas fa-hand-peace"></i>vote</a>
                    <a href="{% url 'vote:contact' %}">お問い合わせ</a>
                    <a href="https://twitter.com/voteforxyztms">Twitter</a>
                </div>
                <!-- 変更点 -->
                <div class="annotation">
                    ※本サイト内で使用しているデータは『国立国会図書館 国会議事録検索システム』を通じて収集したデータ、ならびに
                    各候補者のTwitterアカウントの直近3000件のツイートデータを使用しています。
                </div>
                <!-- ここまで -->
            </div>
        </footer>

    <!-- JavaScriptファイル読み込み -->
    <script src="animation.js"></script>
    </body>
</html>
