{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- 各種メタ情報 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="サイト要約文をここに記述する。検索結果画面においてこの文が表示される">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- ページタイトル -->
        <title>お問い合わせ内容確認</title>
        <!-- ファビコン -->
        <link rel="icon" href="{% static 'vote/image/hand-peace-o.ico' %}">
        <!-- CSSファイル読み込み -->
        <link rel="stylesheet" href="{% static 'vote/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/common.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/contact_complete.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:index' %}"><img class="fas fa-hand-peace" src="{% static 'vote/image/hand-peace-o.png' %}"><span>Vote</span></a>
                </div>
            </div>
        </header>
    <body>

        <!-- メインコンテンツ -->
        <main>
            <div class="main-content-area">
                <div class="contact-headline">
                    <p>
                        お問い合わせが送信されました。<br>
                        内容確認の上対応いたしますので、いましばらくお待ち下さい。
                    </p>
                </div>
            </div>

        </main>

        <!-- フッター -->
        <footer>
            <div class="footer-content-area">
                <a href="{% url 'vote:vote_new' %}"><i class="fas fa-hand-peace"></i>vote</a>
                <a href="{% url 'vote:contact' %}">お問い合わせ</a>
                <a href="{% url 'vote:index' %}">Twitter</a>
            </div>

        </footer>

    <!-- JavaScriptファイル読み込み -->
    <script src="animation.js"></script>
    </body>
</html>
