
{% load static %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <!-- 各種メタ情報 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Voteとは選挙会場にいるあなたの手助けをするアプリです。あなたの投票をよりスムーズに、より効率的に行えるようにサポートします">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- ページタイトル -->
        <title>選挙区選択</title>
        <!-- ファビコン -->
        <link rel="icon" href="{% static 'vote/image/hand-peace-o.ico' %}">
        <!-- CSSファイル読み込み -->
        <link rel="stylesheet" href="{% static 'vote/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/common.css' %}">
        <link rel="stylesheet" href="{% static 'vote/css/electoral_district.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <div class="header-content-area">
                <div class="header-logo">
                    <a href="{% url 'vote:index' %}"><img class="fas fa-hand-peace" src="{% static 'vote/image/hand-peace-o.png' %}"><span>Vote</span></a>
                </div>
            </div>
        </header>

        <!-- メインコンテンツ -->
        <main>
            <div class="main-content-area">
                <!-- 進捗バー -->
                <div class="progressbar-area">
                    <ul class="circle-item-area">
                        <li class="circle-item selected"><div><p>1</p></div></li>
                        <li class="circle-item selected"><div><p>2</p></div></li>
                        <li class="circle-item"><div><p>3</p></div></li>
                    </ul>
                    <div class="hr-area">
                        <hr>
                        <hr>
                    </div>
                </div>
                <!-- 各ステップ説明文 -->
                <ul class="step-description">
                    <li class="step1-description selected">都道府県を選択</li>
                    <li class="step2-description selected">選挙区を選択</li>
                    <li class="step3-description">候補者を選択</li>
                </ul>

                <!-- 選挙区一覧 -->
                <div class="electoral-district-area">
                    {% for item in constituency_list %}
                       <a href="{% url 'vote:candidate' prefecture=item.prefecture constituency=item.constituency %}">第{{item.constituency}}区</a>
                    {% endfor %}

                    <!-- <a href="{% url 'vote:index' %}">第1区</a>
                    <a href="{% url 'vote:index' %}">第2区</a>
                    <a href="{% url 'vote:index' %}">第3区</a>
                    <a href="{% url 'vote:index' %}">第4区</a>
                    <a href="{% url 'vote:index' %}">第5区</a>
                    <a href="{% url 'vote:index' %}">第6区</a>
                    <a href="{% url 'vote:index' %}">第7区</a> -->

                </div>



            </div>
        </main>

        <!-- フッター -->
        <footer>
            <div class="footer-content-area">
                <div class="footer-menu">
                    <a href="{% url 'vote:index' %}"><i class="fas fa-hand-peace"></i>vote</a>
                    <a href="{% url 'vote:contact' %}">お問い合わせ</a>
                    <a href="https://twitter.com/voteforxyztms">Twitter</a>
                </div>
                <!-- 変更点 -->
                <div class="annotation">
                    ※本サイト内で使用しているデータは『国立国会図書館 国会議事録検索システム』を通じて収集したデータ、ならびに
                    各候補者のTwitterアカウントの直近3000件のツイートデータを使用しています。
                </div>
                <!-- ここまで -->
            </div>
        </footer>

    <!-- JavaScriptファイル読み込み -->
    <script src="{% static 'vote/js/animation.js' %}"></script>
    </body>
</html>